<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561650211560-hr0ld0kkhe3sv3i69rig6gvavs6elpa1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561650211560-hr0ld0kkhe3sv3i69rig6gvavs6elpa1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>561650211560-klee4mur8dj40dklo61im5h26g0vum0u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCc_ZyZkJR6tdZtzIMDw84XiuDrlzzR0pc</string>
	<key>GCM_SENDER_ID</key>
	<string>561650211560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chandoiqua</string>
	<key>PROJECT_ID</key>
	<string>travel-729d3</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-729d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561650211560:ios:f4752995334dcc8705875d</string>
</dict>
</plist>